.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-custom{
    padding-top:1rem;
    padding-bottom:1rem;
    background-color: #212529;
}
.navbar-custom .navbar-brand{
    text-transform:uppercase;
    color: #45fe34;
    font-weight: 600;
    letter-spacing: 0.0625em;
}
.navbar-collapse .btn{
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.08em;
}
.navbar-custom .navbar-nav .nav-item .nav-link{
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.08em;
    padding-right: 15px;
}
#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover,
.navbar-collapse .btn:hover {
    color: hsl(115, 98%, 60%);
  }
.navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    background-color:hsl(115, 99%, 60%);
    border: 0;
  }
#navbarResponsive ul li a img{
    position: absolute; 
    margin-top: 2px;
}
#navbarResponsive ul li a span{
    color: white;
}
#navbarResponsive ul li a sup{
    width:fit-content; 
    background-color: orange;
    font-size: 9px; 
    padding: 0 2px 2px 3px;
    margin-left: 13px; 
    border-radius: 100%
}
