<section class="page-section">
    <div class="container">
        <div class="row">
            <div id="map-wrapper" class="no-padding">
                <div class="map" id="map"></div>
            </div>
        </div>
        <h2 class="text-center mt-0">Contact Us</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-md-7  pb-4">
                <form id="contact-form" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" name="name" id="name" placeholder="" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" name="email" id="email" placeholder="" type="email"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Subject</label>
                                <input class="form-control" name="subject" id="subject" placeholder="" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message" id="message" placeholder="" rows="10"
                            required></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary btn-xl solid blank" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="contact-info">
                    <p style="font-weight: 400; font-size: 20px;">Contact Details</p>
                    <p>Official calling hours are from 8:00 am - 8:00 pm, You can also send mails, i reply instantly...
                    </p>
                    <br>
                    <p><i class="fa fa-phone info"></i> +(234) 802-149-381-5 </p>
                    <p><i class="fa fa-envelope info"></i> davidogbodu3056@gmail.com</p>
                    <p><i class="fa fa-globe info"></i> www.bettersounds.com</p>
                </div>
            </div>
        </div>
    </div>
</section>