<section class="signin-form my-2">
    <div class="overlay">
        <div class="wrapper">
            <div class="logo text-center top-bottom-gap">
            </div>
            <div class="form34 card-4" style="background-color: hsl(115, 99%, 60%); border: hsl(115, 99%, 60%);">
                <h3 style="color: white;">Your Registation Was Successful</h3><hr>
                <h6 style="color: white;">An Activation Link Has Been Sent To Your Mail, Click On It To Activate Your Account Before You Login</h6>
                <a class="btn text-uppercase my-3" href="account" style="background-color: hsla(115, 67%, 39%, 0.678);color: white;">LOGIN</a>
            </div>
        </div>
    </div>
</section>

