<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Services</span>
                    <h2>What We Offer</h2>
                    <p>The following below are the services we provide currently.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 pb-4">
                <div class="services__item">
                    <img src="../../../assets/img/services-4.png" alt="">
                    <h5>Selling Of Beats</h5>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo
                        viverra maecenas.</p>
                    <a href="#"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="services__item">
                    <img src="../../../assets/img/services-4.png" alt="">
                    <h5>Custom Beats Production</h5>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo
                        viverra maecenas.</p>
                    <a href="#"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>